* {
    font-family: Iosevka Nerd Font;
    font-size: 12px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    color: #F8F8F2;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#tray {
    background: #282A36;
    padding-left: 2px;
    padding-right: 2px;
}
